DataBases/Lab13_XML_SCHEMA/comms.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Декларація XML документа -->
<!-- version="1.0" - версія XML стандарту -->
<!-- encoding="UTF-8" - кодування символів (підтримка кирилиці) -->

<!-- XSD (XML Schema Definition) - мова для опису структури XML документів -->
<!-- Визначає: які елементи можуть існувати, їх типи, порядок, обмеження -->
<!-- Використовується для валідації XML файлів перед обробкою -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- xmlns:xsd - простір імен для XSD елементів -->
	<!-- Всі елементи з префіксом xsd: належать стандарту XML Schema -->
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 1: ПРОСТІ ЕЛЕМЕНТИ (Simple Elements) -->
	<!-- ========================================= -->
	<!-- Прості елементи містять тільки текст, без вкладених елементів або атрибутів -->
	<!-- Формат: <xsd:element name="назва" type="тип"/> -->
	
	<!-- Елемент для дати укладення договору -->
	<xsd:element name="conclusion_date" type="xsd:date"/>
	<!-- name="conclusion_date" - назва елемента в XML -->
	<!-- type="xsd:date" - стандартний тип для дат -->
	<!-- Формат дати: YYYY-MM-DD (наприклад: 2025-11-03) -->
	<!-- XSD автоматично перевірить правильність дати -->
	
	<!-- Елемент для загальної суми страхування -->
	<xsd:element name="total_insurance_amount" type="xsd:decimal"/>
	<!-- type="xsd:decimal" - десяткове число -->
	<!-- Приклад: 15000.50, 1000000.00 -->
	<!-- Використовується для грошових сум (точність важлива) -->
	
	<!-- Елемент для тривалості договору в місяцях -->
	<xsd:element name="duration_months" type="xsd:positiveInteger"/>
	<!-- type="xsd:positiveInteger" - тільки позитивні цілі числа -->
	<!-- Можливі значення: 1, 2, 3, 100... -->
	<!-- НЕможливі: 0, -5, 3.14 -->
	<!-- Використовується для кількості, ID, термінів -->
	
	<!-- Дата початку дії страхового полісу -->
	<xsd:element name="start_date" type="xsd:date"/>
	<!-- Формат: YYYY-MM-DD -->
	
	<!-- Дата закінчення дії страхового полісу -->
	<xsd:element name="end_date" type="xsd:date"/>
	<!-- Використовується для визначення періоду дії -->
	
	<!-- Сума страхування для конкретного полісу -->
	<xsd:element name="insurance_amount" type="xsd:decimal"/>
	<!-- Може відрізнятися від загальної суми договору -->
	
	<!-- Ім'я застрахованої особи -->
	<xsd:element name="first_name" type="xsd:string"/>
	<!-- type="xsd:string" - текстовий рядок будь-якої довжини -->
	<!-- Може містити букви, цифри, пробіли, спецсимволи -->
	<!-- Приклад: "Іван", "John", "Марія-Анна" -->
	
	<!-- Прізвище застрахованої особи -->
	<xsd:element name="last_name" type="xsd:string"/>
	<!-- Приклад: "Петренко", "Smith", "O'Connor" -->
	
	<!-- Адреса проживання -->
	<xsd:element name="address" type="xsd:string"/>
	<!-- Може містити повну адресу з індексом -->
	<!-- Приклад: "вул. Хрещатик, 1, кв. 5, Київ, 01001" -->
	
	<!-- Дата народження особи -->
	<xsd:element name="birth_date" type="xsd:date"/>
	<!-- Використовується для розрахунку віку -->
	<!-- Формат: YYYY-MM-DD -->
	
	<!-- Посилання на ID застрахованої особи -->
	<xsd:element name="insured_ref" type="xsd:positiveInteger"/>
	<!-- ref = reference (посилання) -->
	<!-- Зберігає ID для зв'язку між таблицями (foreign key) -->
	
	<!-- Посилання на ID майна -->
	<xsd:element name="property_ref" type="xsd:positiveInteger"/>
	<!-- Зв'язок з таблицею майна -->
	
	<!-- Опис об'єкта страхування або майна -->
	<xsd:element name="description" type="xsd:string"/>
	<!-- Приклад: "Toyota Camry 2020", "Квартира 2-кімн." -->
	
	<!-- Вартість майна -->
	<xsd:element name="value" type="xsd:decimal"/>
	<!-- Оціночна вартість для розрахунку страхової суми -->
	
	<!-- Рік випуску майна -->
	<xsd:element name="year_of_issue" type="xsd:gYear"/>
	<!-- type="xsd:gYear" - тільки рік у форматі YYYY -->
	<!-- Приклад: 2020, 1995 -->
	<!-- НЕ дозволяє: 20, 95, 2020-05 -->
	<!-- g = Gregorian (григоріанський календар) -->
	
	<!-- Місцезнаходження майна -->
	<xsd:element name="location" type="xsd:string"/>
	<!-- Приклад: "Київ, вул. Шевченка, 10" -->
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 2: ЕЛЕМЕНТИ З ОБМЕЖЕННЯМИ -->
	<!-- ========================================= -->
	<!-- Створюються власні типи на основі базових з додатковими правилами -->
	
	<!-- Елемент для телефонного номера з валідацією -->
	<xsd:element name="phone_number">
		<!-- Початок визначення елемента -->
		<xsd:simpleType>
			<!-- simpleType - створення власного простого типу -->
			<!-- Простий = без вкладених елементів, тільки текст -->
			<xsd:restriction base="xsd:string">
				<!-- restriction - накладання обмежень -->
				<!-- base="xsd:string" - базовий тип, який обмежуємо -->
				<!-- Беремо string і додаємо до нього правила -->
				
				<xsd:pattern value="\+?[0-9]{10,15}"/>
				<!-- pattern - регулярний вираз (regex) для валідації -->
				<!-- value - шаблон, якому має відповідати текст -->
				<!-- \+? - символ + необов'язковий (? означає 0 або 1 раз) -->
				<!-- [0-9] - будь-яка цифра від 0 до 9 -->
				<!-- {10,15} - від 10 до 15 цифр -->
				<!-- Приклад валідних: +380501234567, 0501234567 -->
				<!-- Приклад НЕвалідних: 123 (мало цифр), +38050abc1234 (є букви) -->
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	
	<!-- Елемент для email з валідацією формату -->
	<xsd:element name="email">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<!-- Обмежуємо string за допомогою regex -->
				
				<xsd:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
				<!-- Розбір regex по частинах: -->
				<!-- [a-zA-Z0-9._%+-]+ - ім'я користувача -->
				<!--   a-zA-Z - малі та великі латинські літери -->
				<!--   0-9 - цифри -->
				<!--   ._%+- - дозволені спецсимволи -->
				<!--   + - один або більше символів -->
				<!-- @ - обов'язковий символ "собака" -->
				<!-- [a-zA-Z0-9.-]+ - доменне ім'я -->
				<!-- \. - обов'язкова точка (\ екранує спецсимвол) -->
				<!-- [a-zA-Z]{2,} - доменна зона (мінімум 2 літери) -->
				<!-- Приклад валідних: user@example.com, test.user@mail.co.uk -->
				<!-- Приклад НЕвалідних: user@, @example.com, user example.com -->
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	
	<!-- Елемент для статі з обмеженим списком значень -->
	<xsd:element name="gender">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<!-- Базовий тип string, але тільки певні значення -->
				
				<!-- enumeration - перерахування дозволених значень -->
				<!-- Можна ввести ТІЛЬКИ одне з цих 4 значень -->
				<xsd:enumeration value="M"/>
				<!-- M - чоловіча стать (Male, скорочено) -->
				
				<xsd:enumeration value="F"/>
				<!-- F - жіноча стать (Female, скорочено) -->
				
				<xsd:enumeration value="Male"/>
				<!-- Male - чоловіча стать (повна форма) -->
				
				<xsd:enumeration value="Female"/>
				<!-- Female - жіноча стать (повна форма) -->
				
				<!-- Будь-яке інше значення (наприклад "Чоловік", "m") -->
				<!-- буде відхилено валідатором -->
				<!-- Це забезпечує уніфікацію даних -->
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>

	<!-- ========================================= -->
	<!-- РОЗДІЛ 3: КОРЕНЕВИЙ ЕЛЕМЕНТ БАЗИ ДАНИХ -->
	<!-- ========================================= -->
	<!-- Головний контейнер всієї структури страхової системи -->
	
	<xsd:element name="insurance_database">
		<!-- name="insurance_database" - корінь XML документа -->
		<!-- Це обгортка для всіх даних -->
		
		<xsd:complexType>
			<!-- complexType - складний тип -->
			<!-- Може містити: -->
			<!--   1) Вкладені елементи (інші теги) -->
			<!--   2) Атрибути -->
			<!--   3) Змішаний контент (текст + елементи) -->
			<!-- На відміну від simpleType (тільки текст) -->
			
			<xsd:sequence>
				<!-- sequence - послідовність елементів -->
				<!-- Елементи МАЮТЬ йти в строгому порядку -->
				<!-- Порушення порядку = помилка валідації -->
				
				<xsd:element ref="agreements"/>
				<!-- ref="agreements" - посилання на інший елемент -->
				<!-- ref використовується замість type, коли елемент -->
				<!-- вже визначений раніше в схемі -->
				<!-- Дозволяє уникнути дублювання коду -->
			</xsd:sequence>
			
			<!-- Атрибути кореневого елемента -->
			<!-- Атрибут = додаткова інформація в тезі -->
			<!-- Формат в XML: <insurance_database export_date="..." system="..."> -->
			
			<xsd:attribute name="export_date" type="xsd:dateTime" use="required"/>
			<!-- attribute - визначення атрибута -->
			<!-- name="export_date" - назва атрибута -->
			<!-- type="xsd:dateTime" - дата і час -->
			<!-- Формат: YYYY-MM-DDTHH:MM:SS (2025-11-03T14:30:00) -->
			<!-- use="required" - атрибут обов'язковий -->
			<!-- Зберігає дату і час експорту даних -->
			
			<xsd:attribute name="system" type="xsd:string" use="required"/>
			<!-- Назва системи, яка експортувала дані -->
			<!-- Приклад: "InsuranceDB v2.0" -->
			<!-- required = без цього атрибута XML не валідний -->
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 4: КОНТЕЙНЕР ДОГОВОРІВ -->
	<!-- ========================================= -->
	<!-- Обгортка для всіх страхових договорів -->
	
	<xsd:element name="agreements">
		<!-- agreements - множина від agreement (договір) -->
		
		<xsd:complexType>
			<!-- Складний тип, бо містить вкладені елементи -->
			
			<xsd:sequence>
				<!-- Послідовність вкладених елементів -->
				
				<xsd:element ref="agreement" minOccurs="0" maxOccurs="unbounded"/>
				<!-- ref="agreement" - посилання на елемент agreement -->
				<!-- minOccurs="0" - мінімум 0 елементів -->
				<!--   Означає, що елемент необов'язковий -->
				<!--   Може бути порожній список договорів -->
				<!-- maxOccurs="unbounded" - максимум необмежений -->
				<!--   unbounded = нескінченність -->
				<!--   Може бути будь-яка кількість договорів -->
				<!-- Разом 0...∞: від нуля до нескінченності -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 5: СТРАХОВИЙ ДОГОВІР -->
	<!-- ========================================= -->
	<!-- Основна сутність - один договір зі страхової компанії -->
	
	<xsd:element name="agreement">
		<!-- agreement - страховий договір -->
		
		<xsd:complexType>
			<xsd:sequence>
				<!-- Елементи договору йдуть у такому порядку: -->
				
				<xsd:element ref="conclusion_date"/>
				<!-- Дата підписання договору -->
				<!-- Обов'язковий (minOccurs за замовчуванням = 1) -->
				
				<xsd:element ref="total_insurance_amount"/>
				<!-- Загальна сума страхування по договору -->
				<!-- Може складатися з суми всіх полісів -->
				
				<xsd:element ref="duration_months"/>
				<!-- Термін дії договору в місяцях -->
				<!-- Наприклад: 12, 24, 36 -->
				
				<xsd:element ref="insurance_policies"/>
				<!-- Вкладений список страхових полісів -->
				<!-- Один договір може містити декілька полісів -->
			</xsd:sequence>
			
			<!-- Атрибути договору -->
			
			<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
			<!-- id - унікальний ідентифікатор договору -->
			<!-- Використовується для зв'язків між таблицями -->
			<!-- Primary Key в термінах БД -->
			<!-- Приклад: 1, 2, 100, 12345 -->
			
			<xsd:attribute name="status" use="required">
				<!-- status - поточний статус договору -->
				<!-- required - обов'язковий атрибут -->
				
				<xsd:simpleType>
					<!-- Створюємо власний тип прямо в атрибуті -->
					
					<xsd:restriction base="xsd:string">
						<!-- Обмежуємо string конкретними значеннями -->
						
						<!-- Дозволені статуси договору: -->
						
						<xsd:enumeration value="Active"/>
						<!-- Active - договір активний, діє -->
						<!-- Виплати відбуваються, поліс в силі -->
						
						<xsd:enumeration value="Cancelled"/>
						<!-- Cancelled - договір скасовано -->
						<!-- Клієнт або компанія розірвали договір -->
						
						<xsd:enumeration value="Completed"/>
						<!-- Completed - договір завершено -->
						<!-- Термін дії закінчився природно -->
						
						<xsd:enumeration value="Suspended"/>
						<!-- Suspended - договір призупинено -->
						<!-- Тимчасова зупинка (наприклад, несплата) -->
						
						<!-- Будь-який інший статус не дозволений -->
						<!-- Це забезпечує консистентність даних -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 6: КОНТЕЙНЕР СТРАХОВИХ ПОЛІСІВ -->
	<!-- ========================================= -->
	<!-- Обгортка для списку полісів в рамках одного договору -->
	
	<xsd:element name="insurance_policies">
		<!-- insurance_policies - множина полісів -->
		<!-- Один договір може мати декілька полісів -->
		<!-- Наприклад: автострахування + страхування життя -->
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="policy" minOccurs="0" maxOccurs="unbounded"/>
				<!-- policy - окремий страховий поліс -->
				<!-- minOccurs="0" - може не бути жодного полісу -->
				<!-- maxOccurs="unbounded" - необмежена кількість -->
				<!-- Гнучкість: від 0 до ∞ полісів -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 7: СТРАХОВИЙ ПОЛІС -->
	<!-- ========================================= -->
	<!-- Конкретний поліс з датами та сумою покриття -->
	
	<xsd:element name="policy">
		<!-- policy - один страховий поліс -->
		
		<xsd:complexType>
			<xsd:sequence>
				<!-- Обов'язкова послідовність елементів: -->
				
				<xsd:element ref="start_date"/>
				<!-- Дата початку дії полісу -->
				<!-- Може відрізнятися від дати договору -->
				
				<xsd:element ref="end_date"/>
				<!-- Дата закінчення дії полісу -->
				<!-- Повинна бути після start_date (логіка перевірки в БД) -->
				
				<xsd:element ref="insurance_amount"/>
				<!-- Сума страхового покриття по цьому полісу -->
				<!-- Максимальна сума виплати при страховому випадку -->
				
				<xsd:element ref="insured_persons"/>
				<!-- Список застрахованих осіб по цьому полісу -->
				<!-- Може бути одна або декілька осіб -->
			</xsd:sequence>
			
			<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
			<!-- id - унікальний номер полісу -->
			<!-- Primary Key для полісів -->
			<!-- Використовується для посилань з інших таблиць -->
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 8: КОНТЕЙНЕР ЗАСТРАХОВАНИХ ОСІБ -->
	<!-- ========================================= -->
	<!-- Список людей, на яких оформлений поліс -->
	
	<xsd:element name="insured_persons">
		<!-- insured_persons - застраховані особи -->
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="insured" minOccurs="0" maxOccurs="unbounded"/>
				<!-- insured - одна застрахована особа -->
				<!-- 0...∞ - від жодної до необмеженої кількості -->
				<!-- Наприклад: сімейний поліс на 4 особи -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 9: ЗАСТРАХОВАНА ОСОБА -->
	<!-- ========================================= -->
	<!-- Детальна інформація про одну застраховану людину -->
	
	<xsd:element name="insured">
		<!-- insured - особа, яка має страхове покриття -->
		
		<xsd:complexType>
			<xsd:sequence>
				<!-- Персональна інформація про особу: -->
				
				<xsd:element ref="address" minOccurs="0"/>
				<!-- Адреса проживання -->
				<!-- minOccurs="0" - необов'язковий елемент -->
				<!-- Може бути відсутній, якщо дані невідомі -->
				
				<xsd:element ref="phone_number" minOccurs="0"/>
				<!-- Телефон для зв'язку -->
				<!-- Необов'язковий, але бажаний -->
				
				<xsd:element ref="email" minOccurs="0"/>
				<!-- Email для електронного листування -->
				<!-- Необов'язковий -->
				
				<xsd:element ref="gender"/>
				<!-- Стать особи -->
				<!-- Обов'язковий елемент (minOccurs за замовчуванням = 1) -->
				<!-- Використовується для статистики та ризиків -->
				
				<xsd:element ref="birth_date"/>
				<!-- Дата народження -->
				<!-- Обов'язковий для розрахунку віку -->
				<!-- Вік впливає на вартість страхування -->
				
				<xsd:element ref="insurance_objects"/>
				<!-- Список об'єктів, що страхуються цією особою -->
				<!-- Наприклад: авто, нерухомість, здоров'я -->
				
				<xsd:element ref="person"/>
				<!-- Посилання на повні персональні дані -->
				<!-- Дублювання для нормалізації БД -->
			</xsd:sequence>
			
			<!-- Атрибути для зв'язків -->
			
			<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
			<!-- id - унікальний ідентифікатор запису -->
			<!-- Primary Key -->
			
			<xsd:attribute name="person_ref" type="xsd:positiveInteger" use="required"/>
			<!-- person_ref - посилання на таблицю persons -->
			<!-- Foreign Key - зв'язок з довідником осіб -->
			<!-- Дозволяє уникнути дублювання ПІБ для кожного полісу -->
			<!-- Принцип нормалізації БД -->
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 10: КОНТЕЙНЕР ОБ'ЄКТІВ СТРАХУВАННЯ -->
	<!-- ========================================= -->
	<!-- Список речей/об'єктів, що підлягають страхуванню -->
	
	<xsd:element name="insurance_objects">
		<!-- insurance_objects - об'єкти страхування -->
		<!-- Це можуть бути: авто, квартира, життя, здоров'я тощо -->
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="insurance_object" minOccurs="0" maxOccurs="unbounded"/>
				<!-- insurance_object - один об'єкт страхування -->
				<!-- Може бути багато об'єктів для однієї особи -->
				<!-- Наприклад: 2 авто + квартира + дача -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 11: ОБ'ЄКТ СТРАХУВАННЯ -->
	<!-- ========================================= -->
	<!-- Конкретна річ або майно, що страхується -->
	
	<xsd:element name="insurance_object">
		<!-- insurance_object - один об'єкт страхування -->
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="insured_ref"/>
				<!-- insured_ref - посилання на застраховану особу -->
				<!-- Foreign Key до таблиці insured -->
				<!-- Показує, хто власник цього об'єкта -->
				
				<xsd:element ref="property_ref"/>
				<!-- property_ref - посилання на опис майна -->
				<!-- Foreign Key до таблиці properties -->
				<!-- Зв'язок з детальним описом об'єкта -->
				
				<xsd:element ref="property"/>
				<!-- property - вкладений опис майна -->
				<!-- Повна інформація про об'єкт -->
			</xsd:sequence>
			
			<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
			<!-- id - унікальний номер об'єкта страхування -->
			
			<xsd:attribute name="type" type="xsd:string" use="required"/>
			<!-- type - тип об'єкта страхування -->
			<!-- Приклади значень: -->
			<!--   "Vehicle" - транспортний засіб -->
			<!--   "RealEstate" - нерухомість -->
			<!--   "Life" - життя -->
			<!--   "Health" - здоров'я -->
			<!--   "Property" - особисте майно -->
			<!-- Може бути будь-який текст (гнучкість) -->
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 12: ОБГОРТКА МАЙНА -->
	<!-- ========================================= -->
	<!-- Додатковий рівень вкладеності для структурування -->
	
	<xsd:element name="property">
		<!-- property - обгортка для детального опису майна -->
		<!-- Проміжний елемент для кращої структури XML -->
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="prop"/>
				<!-- prop - скорочення від property -->
				<!-- Містить фактичні дані про майно -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 13: ДЕТАЛІ МАЙНА -->
	<!-- ========================================= -->
	<!-- Повна інформація про застраховане майно -->
	
	<xsd:element name="prop">
		<!-- prop - скорочена форма property -->
		<!-- Містить всі характеристики майна -->
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="description"/>
				<!-- Текстовий опис майна -->
				<!-- Приклад: "Toyota Camry 2.5, чорний колір" -->
				<!-- Обов'язковий елемент -->
				
				<xsd:element ref="value"/>
				<!-- Оціночна вартість майна -->
				<!-- Використовується для розрахунку страхової суми -->
				<!-- Обов'язковий, тип decimal -->
				
				<xsd:element ref="year_of_issue" minOccurs="0"/>
				<!-- Рік випуску/виготовлення -->
				<!-- Необов'язковий (для старовинних речей може бути невідомий) -->
				<!-- Приклад: 2020, 1995 -->
				
				<xsd:element ref="location" minOccurs="0"/>
				<!-- Місцезнаходження майна -->
				<!-- Необов'язковий -->
				<!-- Важливо для нерухомості, менш важливо для авто -->
			</xsd:sequence>
			
			<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
			<!-- id - унікальний номер майна в базі -->
			<!-- Primary Key для таблиці properties -->
			
			<xsd:attribute name="currency" use="required">
				<!-- currency - валюта, в якій вказана вартість -->
				<!-- Обов'язковий атрибут -->
				
				<xsd:simpleType>
					<!-- Створюємо власний тип для валюти -->
					
					<xsd:restriction base="xsd:string">
						<!-- Обмежуємо string двома правилами: -->
						
						<xsd:length value="3"/>
						<!-- length - точна довжина рядка -->
						<!-- value="3" - рівно 3 символи, не більше, не менше -->
						<!-- Відповідає стандарту ISO 4217 -->
						
						<xsd:pattern value="[A-Z]{3}"/>
						<!-- pattern - шаблон для валідації -->
						<!-- [A-Z] - тільки великі латинські літери -->
						<!-- {3} - рівно 3 символи -->
						<!-- Приклад валідних: USD, EUR, UAH, GBP -->
						<!-- Приклад НЕвалідних: usd, US, USDD, 123 -->
						<!-- Комбінація length + pattern забезпечує -->
						<!-- суворе дотримання стандарту ISO 4217 -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 14: ОБГОРТКА ПЕРСОНАЛЬНИХ ДАНИХ -->
	<!-- ========================================= -->
	<!-- Проміжний контейнер для інформації про особу -->
	
	<xsd:element name="person">
		<!-- person - обгортка для персональних даних -->
		<!-- Додатковий рівень структури для уніфікації -->
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="pers"/>
				<!-- pers - скорочення від person -->
				<!-- Фактичні персональні дані -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================= -->
	<!-- РОЗДІЛ 15: ПЕРСОНАЛЬНІ ДАНІ ОСОБИ -->
	<!-- ========================================= -->
	<!-- Довідник осіб - центральна таблиця персональних даних -->
	
	<xsd:element name="pers">
		<!-- pers - запис про одну особу -->
		<!-- Довідник для уникнення дублювання ПІБ -->
		
		<xsd:complexType>
			<xsd:sequence>
				<!-- ПІБ та контактна інформація: -->
				
				<xsd:element ref="first_name"/>
				<!-- Ім'я особи -->
				<!-- Обов'язкове поле -->
				
				<xsd:element ref="last_name"/>
				<!-- Прізвище особи -->
				<!-- Обов'язкове поле -->
				
				<xsd:element ref="gender"/>
				<!-- Стать особи -->
				<!-- Обов'язкове: M, F, Male або Female -->
				
				<xsd:element ref="birth_date"/>
				<!-- Дата народження -->
				<!-- Обов'язкове для ідентифікації та розрахунків -->
				
				<xsd:element ref="email" minOccurs="0"/>
				<!-- Email для контакту -->
				<!-- Необов'язковий (minOccurs="0") -->
				<!-- Не всі особи мають email -->
				
				<xsd:element ref="phone_number" minOccurs="0"/>
				<!-- Номер телефону -->
				<!-- Необов'язковий -->
				<!-- Бажаний, але може бути відсутнім -->
			</xsd:sequence>
			
			<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
			<!-- id - унікальний ідентифікатор особи -->
			<!-- Primary Key для довідника осіб -->
			<!-- На цей ID посилаються з insured через person_ref -->
			<!-- Принцип нормалізації: одна особа може мати -->
			<!-- багато полісів, але її ПІБ зберігається один раз -->
		</xsd:complexType>
	</xsd:element>
</xsd:schema>

<!-- ========================================= -->
<!-- ПІДСУМОК КЛЮЧОВИХ КОНЦЕПЦІЙ XSD -->
<!-- ========================================= -->

<!-- 1. ТИПИ ДАНИХ:
	- simpleType: тільки текст, без вкладених елементів
	- complexType: може містити елементи та атрибути
-->

<!-- 2. ОБМЕЖЕННЯ (Restrictions):
	- pattern: регулярні вирази для валідації формату
	- enumeration: список дозволених значень
	- length: точна довжина рядка
	- minLength/maxLength: мінімальна/максимальна довжина
-->

<!-- 3. КАРДИНАЛЬНІСТЬ:
	- minOccurs: мінімальна кількість повторень (0 = необов'язковий)
	- maxOccurs: максимальна кількість (unbounded = необмежено)
	- За замовчуванням: minOccurs="1" maxOccurs="1" (рівно один)
-->

<!-- 4. АТРИБУТИ:
	- use="required": обов'язковий атрибут
	- use="optional": необов'язковий атрибут (за замовчуванням)
-->

<!-- 5. СТРУКТУРА:
	- sequence: елементи в строгому порядку
	- choice: один з декількох елементів
	- all: елементи в будь-якому порядку
-->

<!-- 6. ПОСИЛАННЯ:
	- element ref: посилання на раніше визначений елемент
	- xxxxx_ref: Foreign Key для зв'язків між таблицями
-->

<!-- 7. ЗАХИСТ ДАНИХ:
	- Типізація запобігає невалідним даним
	- Валідація формату (email, phone, дати)
	- Обмеження значень (статуси, валюти)
	- Забезпечення цілісності зв'язків (ref поля)
-->